<div>
    {{#each products.payload}}
    <div id="productContainer"class="producto">
        <img src={{thumbnails}} alt="" srcset="">
        <h2>{{title}}</h2>
        <div class="boxOfSell">
            <p id="productId" >{{_id}}</p>
            <p> Precio: {{price}} CLP</p>
            <p> Disponibles: {{stock}} unidades </p>
            <button id="btnAddToCart">add to Cart</button>
            
        </div>

    </div>

    {{/each}}
</div>